Django==5.0.*
ber-tlv
python-ldap
crispy-forms-gds
Pillow
python-ldap
pycryptodome
dacite
cryptography
pytz
asn1tools
niquests
django-storages
boto3==1.35.99
django-cockroachdb
django-xff
psycopg2-binary
gunicorn
iso3166
pyjwt
django-magiclink
BeautifulSoup4
PyMuPDF
opencv-python
base26
xsdata[lxml]
google-api-python-client
bitstring
numpy
urllib3
protobuf
base45
protobuf
mypy-protobuf