{% extends "main/base.html" %}
{% load static crispy_forms_tags rics %}

{% block title %}AVV Account - Train Tickets to Wallet Passes{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl">AVV Account</h1>
        <dl class="govuk-summary-list">
            {% with org=data.kvpOrgId|vdv_org_id %}
                {% if org %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Transport company</dt>
                        <dd class="govuk-summary-list__value">{{ org }}</dd>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value">{{ data.email }}</dd>
            </div>
            {% if data.customerData.title %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Title</dt>
                    <dd class="govuk-summary-list__value">{{ data.customerData.title }}</dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Forename</dt>
                <dd class="govuk-summary-list__value">{{ data.customerData.firstName }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Surname</dt>
                <dd class="govuk-summary-list__value">{{ data.customerData.lastName }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Birthday</dt>
                <dd class="govuk-summary-list__value">{{ data.customerData.dateOfBirth|to_date|date:"F d, Y" }}</dd>
            </div>
        </dl>
        <h2 class="govuk-heading-l">Tickets</h2>
        {% if tickets.count %}
            <ul class="govuk-list govuk-list--spaced">
                {% for ticket in tickets.all %}
                    <li>
                        <a href="{% url 'ticket' ticket.pk %}" class="govuk-link">
                            #{{ ticket.public_id }} - {{ ticket.get_ticket_type_display }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="govuk-body">No tickets</p>
        {% endif %}
    </div>
{% endblock %}