{% load static %}
<p class="govuk-body-lead">
    This service slightly<sup>1</sup> abuses the login process for the mobile app.
    To allow you to login on this site please follow the below installation instructions before continuing.
    This app does nothing other than redirect links from the mobile app to this website.
</p>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">macOS</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            Install this application to continue.<br/>
        </p>
        <a href="{% static 'main/DB Login Hook.pkg' %}" class="govuk-button">Download app</a>
        <p class="govuk-body">
            If you want to inspect the source of what you're about to run it's available on
            <a href="https://github.com/TheEnbyperor/db-login-hook" class="govuk-link">GitHub</a>.
        </p>
    </div>
</details>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Linux</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            Paste the following into your terminal to install the handler, and continue.
        </p>
        <pre><code>curl {% static 'main/db-login-linux.sh' %} | sh</code></pre>
    </div>
</details>
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Windows</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
            No Windows support yet. If you really care, please ask Q.
        </p>
    </div>
</details>
<p class="govuk-body"><sup>1</sup> Queer-Made Horrors unfortunately entirely within comprehension</p>