{% load tz rics %}

<h2 class="govuk-heading-m">Flexible data</h2>

{% localtime off %}
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Version</dt>
            <dd class="govuk-summary-list__value">
                {% if flex.version == 13 %}
                    v1.3
                {% elif flex.version == 2 %}
                    v2
                {% elif flex.version == 3 %}
                    v3
                {% else %}
                    <code>{{ flex.version }}</code>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Security Provider RICS</dt>
            <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.securityProviderNum }}</code></dd>
        </div>
        {% with org=flex.data.issuingDetail.securityProviderNum|rics %}
            {% if org %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Security Provider</dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'main/rics.html' with org=org %}
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
        {% if flex.data.issuingDetail.issuerNum %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issuer RICS</dt>
                <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerNum }}</code></dd>
            </div>
            {% with org=flex.data.issuingDetail.issuerNum|rics %}
                {% if org %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Issuer</dt>
                        <dd class="govuk-summary-list__value">
                            {% include 'main/rics.html' with org=org %}
                        </dd>
                    </div>
                {% endif %}
            {% endwith %}
        {% elif flex.data.issuingDetail.issuerName %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issuer</dt>
                <dd class="govuk-summary-list__value">{{ flex.data.issuingDetail.issuerName }}</dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing time</dt>
            <dd class="govuk-summary-list__value">{{ flex.issuing_time|date:"F d, Y H:i e" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if flex.data.issuingDetail.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Secure paper ticket</dt>
            <dd class="govuk-summary-list__value">
                {% if flex.data.issuingDetail.securePaperTicket %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Activated</dt>
            <dd class="govuk-summary-list__value">
                {% if flex.data.issuingDetail.activated %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Currency</dt>
            <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.currency }}</code></dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuer PNR</dt>
            <dd class="govuk-summary-list__value"><code>{{ flex.data.issuingDetail.issuerPNR }}</code></dd>
        </div>
        {% if flex.data.issuingDetail.issuedOnLine %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issued on line</dt>
                <dd class="govuk-summary-list__value">{{ flex.data.issuingDetail.issuedOnLine }}</dd>
            </div>
        {% endif %}
        {% if flex.data.issuingDetail.issuedOnTrainIA5 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issued on train</dt>
                <dd class="govuk-summary-list__value">{{ flex.data.issuingDetail.issuedOnTrainIA5 }}</dd>
            </div>
        {% endif %}
        {% if flex.data.issuingDetail.issuedOnTrainNum %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issued on train</dt>
                <dd class="govuk-summary-list__value">{{ flex.data.issuingDetail.issuedOnTrainNum }}</dd>
            </div>
        {% endif %}
        {% if flex.data.issuingDetail.pointOfSale %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sale position</dt>
                <dd class="govuk-summary-list__value">
                    {% with pos=flex.data.issuingDetail.pointOfSale|uic_geo %}
                        <a href="https://maps.apple.com/?ll={{ pos.latitude }},{{ pos.longitude }}">
                            <code>{{ pos.latitude }}, {{ pos.longitude }}</code>
                        </a>
                    {% endwith %}
                </dd>
            </div>
        {% endif %}
        {% if flex.data.controlDetail %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control data</dt>
                <dd class="govuk-summary-list__value">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identification by ID card</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.identificationByIdCard %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identification by passport</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.identificationByPassportId %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Passport validation required</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.passportValidationRequired %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Online validation required</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.onlineValidationRequired %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Age check required</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.ageCheckRequired %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Reduction card required</dt>
                            <dd class="govuk-summary-list__value">
                                {% if flex.data.controlDetail.reductionCardCheckRequired %}
                                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--red">No</strong>
                                {% endif %}
                            </dd>
                        </div>
                        {% if flex.data.controlDetail.randomDetailedValidationRequired != None %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Random detailed validation</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ flex.data.controlDetail.randomDetailedValidationRequired }}%
                                </dd>
                            </div>
                        {% endif %}
                        {% if flex.data.controlDetail.infoText %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Extra info</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ flex.data.controlDetail.infoText }}
                                </dd>
                            </div>
                        {% endif %}
                        {% include "main/uic/extension.html" with obj=flex.data.controlDetail %}
                        {% if flex.data.controlDetail.includedTicket %}
                            <div class="govuk-summary-list__row">
                                {% for ticket in flex.data.controlDetail.includedTickets %}
                                    <div class="govuk-summary-card">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">
                                                Linked ticket #{{ forloop.counter }}
                                            </h2>
                                        </div>
                                        <div class="govuk-summary-card__content">
                                            <dl class="govuk-summary-list">
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">Link mode</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <code>{{ ticket.linkMode }}</code>
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">Ticket type</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <code>{{ ticket.ticketType }}</code>
                                                    </dd>
                                                </div>
                                                {% if ticket.referenceNum %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Reference</dt>
                                                        <dd class="govuk-summary-list__value">{{ ticket.referenceNum }}</dd>
                                                    </div>
                                                {% elif ticket.referenceIA5 %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Reference</dt>
                                                        <dd class="govuk-summary-list__value">{{ ticket.referenceIA5 }}</dd>
                                                    </div>
                                                {% endif %}
                                                {% if ticket.issuerName %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Issuer name</dt>
                                                        <dd class="govuk-summary-list__value">{{ ticket.issuerName }}</dd>
                                                    </div>
                                                {% endif %}
                                                {% if ticket.issuerPNR %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Issuer PNR</dt>
                                                        <dd class="govuk-summary-list__value">{{ ticket.issuerPNR }}</dd>
                                                    </div>
                                                {% endif %}
                                                {% if ticket.productOwnerNum %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Product owner RICS</dt>
                                                        <dd class="govuk-summary-list__value">
                                                            <code>{{ ticket.productOwnerNum }}</code>
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                {% if ticket.productOwnerIA5 %}
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">Product owner ID</dt>
                                                        <dd class="govuk-summary-list__value">{{ ticket.productOwnerIA5 }}</dd>
                                                    </div>
                                                {% endif %}
                                                {% with org=ticket.productOwnerNum|rics %}
                                                    {% if org %}
                                                        <div class="govuk-summary-list__row">
                                                            <dt class="govuk-summary-list__key">Product owner</dt>
                                                            <dd class="govuk-summary-list__value">
                                                                {% include 'main/rics.html' with org=org %}
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                {% endwith %}
                                            </dl>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </dl>
                </dd>
            </div>
        {% endif %}
        {% if flex.data.travelerDetail %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Travellers</dt>
                <dd class="govuk-summary-list__value">
                    {% if flex.data.travelerDetail.preferredLanguage or flex.data.travelerDetail.groupName %}
                        <dl class="govuk-summary-list">
                            {% if flex.data.travelerDetail.preferredLanguage %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Traveler preferred language</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ flex.data.travelerDetail.preferredLanguage }}</code>
                                    </dd>
                                </div>
                            {% endif %}
                            {% if flex.data.travelerDetail.groupName %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Traveler group name</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ flex.data.travelerDetail.groupName }}</code>
                                    </dd>
                                </div>
                            {% endif %}
                        </dl>
                    {% endif %}
                    {% for traveler in flex.data.travelerDetail.traveler %}
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Traveler #{{ forloop.counter }}</h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                {% include 'main/uic/traveler.html' with traveler=traveler %}
                            </div>
                        </div>
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        {% if flex.data.transportDocument %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Documents</dt>
                <dd class="govuk-summary-list__value">
                    {% for doc in flex.data.transportDocument %}
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                {% if doc.ticket.0 == "reservation" %}
                                    <h2 class="govuk-summary-card__title">Reservation</h2>
                                {% elif doc.ticket.0 == "openTicket" %}
                                    <h2 class="govuk-summary-card__title">Open ticket</h2>
                                {% elif doc.ticket.0 == "pass" %}
                                    <h2 class="govuk-summary-card__title">Pass</h2>
                                {% elif doc.ticket.0 == "customerCard" %}
                                    <h2 class="govuk-summary-card__title">Customer card</h2>
                                {% else %}
                                    <h2 class="govuk-summary-card__title">Document <code>{{ doc.ticket.0 }}</code></h2>
                                {% endif %}
                            </div>
                            <div class="govuk-summary-card__content">
                                {% if doc.ticket.0 == "openTicket" %}
                                    {% include "main/uic/open_ticket.html" with ticket=doc.ticket.1 %}
                                {% elif doc.ticket.0 == "customerCard" %}
                                    {% include "main/uic/customer_card.html" with card=doc.ticket.1 %}
                                {% elif doc.ticket.0 == "pass" %}
                                    {% include "main/uic/pass.html" with pass=doc.ticket.1 %}
                                {% elif doc.ticket.0 == "reservation" %}
                                    {% include "main/uic/reservation.html" with res=doc.ticket.1 %}
                                {% else %}
                                    <pre>{{ doc.ticket.1|pprint }}</pre>
                                {% endif %}

                                <h2 class="govuk-heading-m">Token</h2>
                                {% if doc.token %}
                                    <dl class="govuk-summary-list">
                                        {% if doc.token.tokenProviderNum %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Provider RICS</dt>
                                                <dd class="govuk-summary-list__value">
                                                    <code>{{ doc.token.tokenProviderNum }}</code>
                                                </dd>
                                            </div>
                                        {% endif %}
                                        {% if doc.token.tokenProviderIA5 %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Provider ID</dt>
                                                <dd class="govuk-summary-list__value">{{ doc.token.tokenProviderIA5 }}</dd>
                                            </div>
                                        {% endif %}
                                        {% with org=doc.token.tokenProviderNum|rics %}
                                            {% if org %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">Provider</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {% include 'main/rics.html' with org=org %}
                                                    </dd>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% if doc.token.tokenSpecification %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Specification</dt>
                                                <dd class="govuk-summary-list__value">{{ doc.token.tokenSpecification }}</dd>
                                            </div>
                                        {% endif %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Data</dt>
                                            <dd class="govuk-summary-list__value">{{ doc.token.token|rics_unicode }}</dd>
                                        </div>
                                    </dl>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        {% if flex.intercode %}
            {% include "main/uic/fr_intercode.html" with obj=flex.intercode %}
        {% else %}
            {% include "main/uic/extension.html" with obj=flex.data.issuingDetail %}
        {% endif %}
    </dl>
{% endlocaltime %}

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Raw data</span>
    </summary>
    <div class="govuk-details__text">
        <pre>{{ flex|pprint }}</pre>
    </div>
</details>