{% load rics %}
<h2 class="govuk-heading-m">Details parsed from paper ticket</h2>
<dl class="govuk-summary-list">
    {% if parsed_layout.operator_rics %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Operator RICS</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.operator_rics }}</dd>
        </div>
        {% with org=parsed_layout.operator_rics|rics %}
            {% if org %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Operator</dt>
                    <dd class="govuk-summary-list__value">
                        {% include 'main/rics.html' with org=org %}
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if parsed_layout.trips %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Trips</dt>
            <dd class="govuk-summary-list__value">
                {% for trip in parsed_layout.trips %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Trip #{{ forloop.counter }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            {% include "main/uic/trip_part.html" with trip=trip %}
                        </div>
                    </div>
                {% endfor %}
            </dd>
        </div>
    {% endif %}
    {% if parsed_layout.travel_class %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travel class</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.travel_class }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.document_type %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Document type</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.document_type|linebreaksbr }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.traveller %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Traveller</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.traveller|linebreaksbr }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.passenger_name %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Passenger name</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.passenger_name }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.date_of_birth %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of Birth</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.date_of_birth|date:"F d, Y" }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.price %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Price</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.price|linebreaksbr }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.train_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Train data</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.train_data|linebreaksbr }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.valid_region %}
        {% with graph=parsed_layout.valid_region|via_as_graphviz %}
            {% if graph %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Valid region</dt>
                    <dd class="govuk-summary-list__value">
                        {{ parsed_layout.valid_region }}
                        <div id="{{ graph.0 }}" class="route-graph"></div>
                        <script>
                            window.addEventListener('load', function () {
                                const graph = `{{ graph.1|safe }}`;
                                Viz.instance().then(function (viz) {
                                    const svg = viz.renderSVGElement(graph, {
                                        graphAttributes: {
                                            fontname: "GDS Transport",
                                            fontsize: 12,
                                        },
                                        nodeAttributes: {
                                            fontname: "GDS Transport",
                                            fontsize: 12,
                                        }
                                    });
                                    document.getElementById('{{ graph.0 }}').appendChild(svg);
                                });
                            });
                        </script>
                    </dd>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if parsed_layout.conditions %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Conditions</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.conditions|linebreaksbr }}</dd>
        </div>
    {% endif %}
    {% if parsed_layout.extra %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Extra data</dt>
            <dd class="govuk-summary-list__value">{{ parsed_layout.extra|linebreaksbr }}</dd>
        </div>
    {% endif %}
</dl>