<dl class="govuk-summary-list">
    {% if trip.departure %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Departure</dt>
            <dd class="govuk-summary-list__value">{ trip.departure }}</dd>
        </div>
    {% endif %}
    {% if trip.departure_date %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Departure date</dt>
            <dd class="govuk-summary-list__value">{{ trip.departure_date }}</dd>
        </div>
    {% endif %}
    {% if trip.departure_time %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Departure time</dt>
            <dd class="govuk-summary-list__value">{{ trip.departure_time }}</dd>
        </div>
    {% endif %}
    {% if trip.arrival %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Arrival</dt>
            <dd class="govuk-summary-list__value">{{ trip.arrival }}</dd>
        </div>
    {% endif %}
    {% if trip.arrival_date %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Arrival date</dt>
            <dd class="govuk-summary-list__value">{{ trip.arrival_date }}</dd>
        </div>
    {% endif %}
    {% if trip.arrival_time %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Arrival time</dt>
            <dd class="govuk-summary-list__value">{{ trip.arrival_time }}</dd>
        </div>
    {% endif %}
    {% if trip.departure_station %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Departure station</dt>
            <dd class="govuk-summary-list__value">{{ trip.departure_station }}</dd>
        </div>
    {% endif %}
    {% if trip.arrival_station %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Arrival station</dt>
            <dd class="govuk-summary-list__value">{{ trip.arrival_station }}</dd>
        </div>
    {% endif %}
</dl>