{% load static mapkit i18n %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} - Zügli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='{% static "govuk/govuk-frontend-5.6.0.min.css" %}' rel="stylesheet">
    <link href='{% static "main/style.css" %}' rel="stylesheet">

    <meta name="description"
          content="{% trans "Turn your public transport tickets into an Apple/Google Wallet passes." %}">
    <meta property="og:title" content="Zügli">
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="{% trans "Turn your public transport tickets into an Apple/Google Wallet passes." %}">
    <meta name="fediverse:creator" content="@q@glauca.space"/>
</head>
<body class="govuk-template__body">
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    let mapKitRequired = false;
</script>
{% block body_start %}
{% endblock body_start %}
<header class="govuk-header govuk-header--full-width-border" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-service-navigation__container" style="justify-content: space-between;">
            <a href="{% url 'index' %}" class="govuk-header__link govuk-header__service-name"
               style="align-self: center">
                Zügli
            </a>
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <nav class="govuk-service-navigation__wrapper" data-module="govuk-service-navigation">
                    <button type="button" class="govuk-service-navigation__toggle button-link govuk-js-service-navigation-toggle"
                            aria-controls="languages-list" hidden>
                        {% trans "Language" %}
                    </button>
                    <ul class="govuk-service-navigation__list" id="languages-list">
                        {% for language in languages %}
                            <li class="govuk-service-navigation__item{% if language.code == LANGUAGE_CODE %} govuk-service-navigation__item--active{% endif %}">
                                <button class="button-link" type="submit" name="language"
                                        value="{{ language.code }}">{{ language.name_local }}</button>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </form>
        </div>
    </div>
</header>
{% with request.resolver_match.url_name as url_name %}
    <div class="govuk-service-navigation" data-module="govuk-service-navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                {% if user.is_authenticated %}
                    <span class="govuk-service-navigation__service-name">
                        {% blocktranslate with name=user.get_short_name %}Hi {{ name }}!{% endblocktranslate %}
                    </span>
                {% endif %}
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                            aria-controls="navigation" hidden>
                        {% trans "Menu" %}
                    </button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item{% if url_name == 'index' %} govuk-service-navigation__item--active{% endif %}">
                            <a class="govuk-service-navigation__link" href="{% url 'index' %}">
                                {% trans "Home" %}
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="govuk-service-navigation__item{% if url_name == 'account' or url_name == 'db_account' or url_name == 'db_abo' or url_name == 'new_db_abo' or url_name == 'saarvv_account' or url_name == 'sbahn_berlin_account' or url_name == 'db_add_ticket' or url_name == 'sncb_add_ticket' or url_name == 'avv_account' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link" href="{% url 'account' %}">
                                    {% trans "Account" %}
                                </a>
                            </li>
                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link"
                                   href="{% url 'magiclink:logout' %}?next={{ request.path }}">
                                    {% trans "Logout" %}
                                </a>
                            </li>
                        {% else %}
                            <li class="govuk-service-navigation__item{% if url_name == 'login' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link"
                                   href="{% url 'magiclink:login' %}?next={{ request.path }}">
                                    {% trans "Login" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% if url_name == 'account' or url_name == 'db_account' or url_name == 'db_abo' or url_name == 'new_db_abo' or url_name == 'saarvv_account' or url_name == 'sbahn_berlin_account' or url_name == 'db_add_ticket' or url_name == 'sncb_add_ticket' or url_name == 'avv_account' %}
                <div class="govuk-service-navigation__container">
                    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                        <button type="button"
                                class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                                aria-controls="navigation" hidden>
                            {% trans "Menu" %}
                        </button>
                        <ul class="govuk-service-navigation__list" id="navigation">
                            <li class="govuk-service-navigation__item{% if url_name == 'account' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link" href="{% url 'account' %}">
                                    {% trans "Account home" %}
                                </a>
                            </li>
                            {% if user.is_authenticated and user.account.is_db_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'db_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'db_account' %}"
                                       aria-current="true">
                                        {% trans "DB Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="govuk-service-navigation__item{% if url_name == 'db_abo' %} govuk-service-navigation__item--active{% endif %}">
                                <a class="govuk-service-navigation__link " href="{% url 'db_abo' %}">
                                    {% trans "DB Subscriptions" %}
                                </a>
                            </li>
                            {% if user.is_authenticated and user.account.is_saarvv_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'saarvv_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'saarvv_account' %}">
                                        {% trans "SaarVV Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user.account.is_sbahn_berlin_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'sbahn_berlin_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'sbahn_berlin_account' %}">
                                        {% trans "S-Bahn Berlin Account" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user.account.is_avv_authenticated %}
                                <li class="govuk-service-navigation__item{% if url_name == 'avv_account' %} govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="{% url 'avv_account' %}">
                                        {% trans "AVV Account" %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
{% endwith %}
<main class="govuk-main-wrapper" id="content" role="main">
    {% if messages %}
        <div class="govuk-width-container">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">Error</h2>
                            <div class="govuk-error-summary__body">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="govuk-notification-banner govuk-notification-banner--{{ message.level_tag }}"
                         role="region"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            {{ message.message }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
</main>
<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <div class="govuk-footer__meta-custom">
                    {% blocktrans trimmed %}
                        Not affiliated with the Verband Deutscher Verkehrsunternehmen (VDV),
                        Union Internationale des Chemins de fer (UIC), Rail Delivery Group (RDG), or any of their
                        respective members.
                    {% endblocktrans %}
                </div>
                <div class="govuk-footer__meta-custom">
                    {% blocktrans trimmed %}
                        <a class="govuk-footer__link" href="https://github.com/alphagov/govuk-frontend" target="_blank">GOV.UK
                            Design System</a>
                        used under license.
                    {% endblocktrans %}
                </div>
                <div class="govuk-footer__meta-custom">
                    {% if git_hash %}
                        {% blocktrans trimmed %}
                            Running version
                            <a href="https://github.com/theenbyperor/vdv-pkpass" class="govuk-footer__link"
                               target="_blank">{{ git_hash }}</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "Development build." %}
                    {% endif %}
                </div>
                <span class="govuk-footer__licence-description">
                    {% blocktrans trimmed %}
                        Licensed under the <a href="https://eupl.eu" class="govuk-footer__link"
                                              target="_blank">EUPL v1.2</a>.
                    {% endblocktrans %}
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a
                        class="govuk-footer__link govuk-footer__copyright-logo"
                        href="https://magicalcodewit.ch">
                    &copy; Q Misell, {% now "Y" %}
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>
<script type="module" src='{% static "govuk/govuk-frontend-5.6.0.min.js" %}'></script>
<script type="module">
    import {initAll} from '{% static "govuk/govuk-frontend-5.6.0.min.js" %}'

    initAll()
</script>
<script src="{% static "barkoder/barkoder-umd.js" %}"></script>
<script src="{% static "main/viz-standalone.js" %}"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
        crossorigin async
        data-callback="initMapKit"
        data-libraries="services,full-map"></script>
<script defer data-api="https://s.as207960.net/api/event" data-domain="zügli.app"
        src="https://s.as207960.net/js/script.js"></script>
<script>
    function initMapKit() {
        const loadedEvent = new Event("mapKitLoaded");
        if (mapKitRequired) {
            mapkit.init({
                authorizationCallback: function (done) {
                    done("{% mapkit_token %}");
                },
            });
            mapkit.addEventListener("configuration-change", function (event) {
                switch (event.status) {
                    case "Initialized":
                        document.dispatchEvent(loadedEvent);
                        break;
                }
            });
        }
    }
</script>
</body>
</html>
