{% load rics %}

<h2 class="govuk-heading-m">Security</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Barcode version</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Issuer RICS</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.issuer_rics }}</code></dd>
    </div>
    {% with org=ticket.envelope.issuer %}
        {% if org %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Issuer</dt>
                <dd class="govuk-summary-list__value">
                    {% include 'main/rics.html' with org=org %}
                </dd>
            </div>
        {% endif %}
    {% endwith %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Signature key ID</dt>
        <dd class="govuk-summary-list__value"><code>{{ ticket.envelope.signature_key_id }}</code></dd>
    </div>
    {% if ticket.envelope.can_verify %}
        {% with cert=ticket.envelope.signing_cert %}
            {% if cert %}
                {% include "main/uic/cert.html" with cert=cert %}
            {% endif %}
        {% endwith %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Signature verification</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.envelope.verify_signature %}
                    <strong class="govuk-tag govuk-tag--green">Valid</strong>
                {% else %}
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            Signature verification failed, this is likely a forged ticket
                        </strong>
                    </div>
                {% endif %}
            </dd>
        </div>
    {% else %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Signing key</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        Unknown signing key, can't verify ticket
                    </strong>
                </div>
            </dd>
        </div>
    {% endif %}
</dl>

{% if ticket.data.type == "IRT" %}
    <h2 class="govuk-heading-m">Integrated reservation ticket</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">PNR</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.pnr }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing date</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Ticket type</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.sub_type == 0 %}
                    Reservation only
                {% elif ticket.data.sub_type == 1 %}
                    Reservation + ticket
                {% elif ticket.data.sub_type == 2 %}
                    Boarding pass
                {% else %}
                    <code>{{ ticket.data.sub_type }}</code>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of adults</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_adults }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of children</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_children }}</dd>
        </div>
        {% if ticket.data.travel_class %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Travel class</dt>
                <dd class="govuk-summary-list__value">
                    {% if ticket.data.travel_class == 1 %}
                        First
                    {% elif ticket.data.travel_class == 2 %}
                        Second
                    {% else %}
                        <code>{{ ticket.data.travel_class }}</code>
                    {% endif %}
                </dd>
            </div>
        {% endif %}
        {% if ticket.data.station_code_table %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Station code table</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.station_code_table }}</code></dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">From station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.departure_station %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">To station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.arrival_station %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Departure time</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.departure|date:"F d, Y H:i" }}</dd>
        </div>
        {% if ticket.data.train_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Train number</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.train_number }}</dd>
            </div>
        {% endif %}
        {% if ticket.data.coach_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Coach</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.coach_number }}</dd>
            </div>
        {% endif %}
        {% if ticket.data.seat_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Seat</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.seat_number }}</dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Overbooked</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.overbooked %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        {% if ticket.data.information_message %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Information message</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.information_message }}</code></dd>
            </div>
        {% endif %}
        {% if ticket.data.extra_text %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Extra text</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
            </div>
        {% endif %}
    </dl>
{% elif ticket.data.type == "NRT" %}
    <h2 class="govuk-heading-m">Non-reservation ticket</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">PNR</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.pnr }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing date</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Return included</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.return_included %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of adults</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_adults }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of children</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_children }}</dd>
        </div>
        {% if ticket.data.travel_class %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Travel class</dt>
                <dd class="govuk-summary-list__value">
                    {% if ticket.data.travel_class == 1 %}
                        First
                    {% elif ticket.data.travel_class == 2 %}
                        Second
                    {% else %}
                        <code>{{ ticket.data.travel_class }}</code>
                    {% endif %}
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid from</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_start|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid until</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_end|date:"F d, Y" }}</dd>
        </div>
        {% if ticket.data.station_code_table %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Station code table</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.station_code_table }}</code></dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">From station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.departure_station %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">To station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.arrival_station %}
            </dd>
        </div>
        {% if ticket.data.information_message %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Information message</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.information_message }}</code></dd>
            </div>
        {% endif %}
        {% if ticket.data.extra_text %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Extra text</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
            </div>
        {% endif %}
    </dl>
{% elif ticket.data.type == "GRT" %}
    <h2 class="govuk-heading-m">Group ticket</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">PNR</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.pnr }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing date</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Return included</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.return_included %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of adults</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_adults }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of children</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_children }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travel class</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.travel_class == 1 %}
                    First
                {% elif ticket.data.travel_class == 2 %}
                    Second
                {% else %}
                    <code>{{ ticket.data.travel_class }}</code>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid from</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_start|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid until</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_end|date:"F d, Y" }}</dd>
        </div>
        {% if ticket.data.station_code_table %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Station code table</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.station_code_table }}</code></dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">From station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.departure_station %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">To station</dt>
            <dd class="govuk-summary-list__value">
                {% include "main/ssb_station.html" with station=ticket.data.arrival_station %}
            </dd>
        </div>
        {% if ticket.data.group_leader %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Group leader</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.group_leader }}</dd>
            </div>
        {% endif %}
        {% if ticket.data.countermark %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Countermark</dt>
                <dd class="govuk-summary-list__value">#{{ ticket.data.countermark }}</dd>
            </div>
        {% endif %}
        {% if ticket.data.information_message %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Information message</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.information_message }}</code></dd>
            </div>
        {% endif %}
        {% if ticket.data.extra_text %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Extra text</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
            </div>
        {% endif %}
    </dl>
{% elif ticket.data.type == "PASS" %}
    <h2 class="govuk-heading-m">InterRail Pass</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Pass ID</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.pnr }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing date</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of adults</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_adults }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of children</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_children }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travel class</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.travel_class == 1 %}
                    First
                {% elif ticket.data.travel_class == 2 %}
                    Second
                {% else %}
                    <code>{{ ticket.data.travel_class }}</code>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid from</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_start|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid until</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_end|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.sub_type == 1 %}
                    InterRail
                {% elif ticket.data.sub_type == 2 %}
                    EURail
                {% elif ticket.data.sub_type == 3 %}
                    EURail Overseas
                {% else %}
                    <code>{{ ticket.data.sub_type }}</code>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travel days</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.travel_days }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Countries</dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list--bullet">
                    {% for country in ticket.data.countries %}
                        <li><code>{{ country }}</code></li>
                    {% endfor %}
                </ul>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Two page</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.two_page %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        {% if ticket.data.information_message %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Information message</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.information_message }}</code></dd>
            </div>
        {% endif %}
        {% if ticket.data.extra_text %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Extra text</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
            </div>
        {% endif %}
    </dl>
{% elif ticket.data.type == "NS_KC" %}
    <h2 class="govuk-heading-m">NS Keycard</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Version</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.version }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Card ID</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.card_id }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Issuing date</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.issuing_date|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specimen</dt>
            <dd class="govuk-summary-list__value">
                {% if ticket.data.specimen %}
                    <strong class="govuk-tag govuk-tag--green">Yes</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--red">No</strong>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number adults</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.number_adults }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number children</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.number_children }}</dd>
        </div>
        {% if ticket.data.travel_class %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Travel class</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.travel_class }}</dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Product</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.product_name }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid from</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_start|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid until</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.validity_end|date:"F d, Y" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of travel days</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_travel_days }}</dd>
        </div>
        {% if ticket.data.station_uic %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Station number</dt>
                <dd class="govuk-summary-list__value"><code>{{ ticket.data.station_uic }}</code></dd>
            </div>
            {% with station=ticket.data.station_uic|get_station:"uic" %}
                {% if station %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Station</dt>
                        <dd class="govuk-summary-list__value">
                            {% include "main/uic/station.html" with station=station %}
                        </dd>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        {% if ticket.data.extra_text %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Extra text</dt>
                <dd class="govuk-summary-list__value">{{ ticket.data.extra_text }}</dd>
            </div>
        {% endif %}
    </dl>
{% elif ticket.data.type == "SZ_TK" %}
    <h2 class="govuk-heading-m">Slovenske železnice ticket</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Ticket type</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.ticket_type_str }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Price level</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.price_level_str }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Travel class</dt>
            <dd class="govuk-summary-list__value"><code>{{ ticket.data.travel_class }}</code></dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.reference }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid from</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.valid_from|date:"F d, Y H:i:s e" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Valid until</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.valid_to|date:"F d, Y H:i:s e" }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Unit price</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.price_str }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of travellers</dt>
            <dd class="govuk-summary-list__value">{{ ticket.data.num_travellers }}</dd>
        </div>
    </dl>
{% endif %}
