{% load i18n %}
{% if elements %}
    {% for elm in elements %}
        {% if elm.TYPE == "basic-data" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "Basic data" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% if elm.payment_type %}
                            {% with type_name=elm.payment_type_name_opt %}
                                {% if type_name %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Payment Type" %}</dt>
                                        <dd class="govuk-summary-list__value">{{ type_name }} (<code>{{ elm.payment_type }}</code>)</dd>
                                    </div>
                                {% else %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Payment Type Code" %}</dt>
                                        <dd class="govuk-summary-list__value"><code>{{ elm.payment_type }}</code></dd>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        {% if elm.passenger_type %}
                            {% with type_name=elm.passenger_type_name_opt %}
                                {% if type_name %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Passenger Type" %}</dt>
                                        <dd class="govuk-summary-list__value">{{ type_name }} (<code>{{ elm.passenger_type }}</code>)</dd>
                                    </div>
                                {% else %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{% trans "Passenger Type Code" %}</dt>
                                        <dd class="govuk-summary-list__value"><code>{{ elm.passenger_type }}</code></dd>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        {% if elm.first_additional_travelers %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Additional Traveler #1" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <dl class="govuk-summary-list">
                                        {% with type_name=elm.first_additional_travelers.passenger_type_name_opt %}
                                            {% if type_name %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Passenger Type" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ type_name }}
                                                        (<code>{{ elm.first_additional_travelers.passenger_type }}</code>)
                                                    </dd>
                                                </div>
                                            {% else %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Passenger Type Code" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <code>{{ elm.first_additional_travelers.passenger_type }}</code>
                                                    </dd>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Count" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                <code>{{ elm.first_additional_travelers.passenger_count }}</code>
                                            </dd>
                                        </div>
                                    </dl>
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.second_additional_travelers %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Additional Traveler #2" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <dl class="govuk-summary-list">
                                        {% with type_name=elm.second_additional_travelers.passenger_type_name_opt %}
                                            {% if type_name %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Passenger Type" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        {{ type_name }}
                                                        (<code>{{ elm.second_additional_travelers.passenger_type }}</code>)
                                                    </dd>
                                                </div>
                                            {% else %}
                                                <div class="govuk-summary-list__row">
                                                    <dt class="govuk-summary-list__key">{% trans "Passenger Type Code" %}</dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <code>{{ elm.second_additional_travelers.passenger_type }}</code>
                                                    </dd>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">{% trans "Count" %}</dt>
                                            <dd class="govuk-summary-list__value">
                                                <code>{{ elm.second_additional_travelers.passenger_count }}</code>
                                            </dd>
                                        </div>
                                    </dl>
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.transport_category %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Transport Category" %}</dt>
                                <dd class="govuk-summary-list__value"><code>{{ elm.transport_category }}</code></dd>
                            </div>
                        {% endif %}
                        {% if elm.service_class %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Service Class" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.service_class_name }}</dd>
                            </div>
                        {% endif %}
                        {% if elm.price_base %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Price" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.price_base }} EUR</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "VAT" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.vat_rate }}%</dd>
                            </div>
                        {% endif %}
                        {% if elm.price_level %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Price Level" %}</dt>
                                <dd class="govuk-summary-list__value"><code>{{ elm.price_level }}</code></dd>
                            </div>
                        {% endif %}
                        {% if elm.internal_product_number %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Internal Product Number" %}</dt>
                                <dd class="govuk-summary-list__value"><code>{{ elm.internal_product_number }}</code>
                                </dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "identification-medium" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "Identification medium" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% with type_name=elm.type_name_opt %}
                            {% if type_name %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Type" %}</dt>
                                    <dd class="govuk-summary-list__value">{{ type_name }} (<code>{{ elm.id_type }}</code>)</dd>
                                </div>
                            {% else %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Type Code" %}</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ elm.id_type }}</code></dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% if elm.phone_number %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Phone number" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.phone_number_description }}</dd>
                            </div>
                        {% else %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Number" %}</dt>
                                <dd class="govuk-summary-list__value"><code>{{ elm.id_number }}</code></dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "passenger-data" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "Passenger data" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Forename" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.forename }}
                                {% if elm.original_forename %}({{ elm.original_forename }}){% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Surname" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.surname }}
                                {% if elm.original_surname %}({{ elm.original_surname }}){% endif %}
                            </dd>
                        </div>
                        {% if elm.date_of_birth %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Date of birth" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.date_of_birth.as_date|date:"F d, Y" }}</dd>
                            </div>
                        {% endif %}
                        {% if elm.gender %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Gender" %}</dt>
                                <dd class="govuk-summary-list__value">{{ elm.gender.name }}</dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "spacial-validity" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {% blocktrans with variant=elm.variant %}Spacial validity - variant {{ variant }}{% endblocktrans %}
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% with org_name=elm.organization_name_opt %}
                            {% if org_name %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ org_name }} (<code>{{ elm.organization_id }}</code>)
                                    </dd>
                                </div>
                            {% else %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ elm.organization_id }}</code>
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% if elm.start_station %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Start station" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ elm.start_station_name }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.end_stations %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "End stations" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list--bullet">
                                        {% for n in elm.end_stations_names %}
                                            <li>{{ n }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.start_tariff_point %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Origin tariff point" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ elm.start_tariff_point_name }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.end_tariff_point %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "End tariff point" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ elm.end_tariff_point_name }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.area %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Area" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ elm.area_name }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.via_tariff_points %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Via tariff points" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list--bullet">
                                        {% for tp in elm.via_tariff_point_names %}
                                            <li>{{ tp }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.tariff_points %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Tariff points" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list--bullet">
                                        {% for tp in elm.tariff_point_names %}
                                            <li>{{ tp }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if elm.validity_ids %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{% trans "Validity" %}</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list--bullet">
                                        {% for area in elm.validity_names %}
                                            <li>{{ area }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "unknown-spacial-validity" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        {% trans "Unknown spacial validity" %}
                        <code>{{ elm.type_hex }}</code>
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% with org_name=elm.organization_name_opt %}
                            {% if org_name %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ org_name }} (<code>{{ elm.organization_id }}</code>)
                                    </dd>
                                </div>
                            {% else %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ elm.organization_id }}</code>
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Data" %}</dt>
                            <dd class="govuk-summary-list__value">
                                <code>{{ elm.data_hex }}</code>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "private-data" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "Private-use data" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <p class="govuk-body"><code>{{ elm.data_hex }}</code></p>
                </div>
            </div>
        {% elif elm.TYPE == "se-id" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "Secure Element ID" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% with name=elm.value.reg_auth_name_opt %}
                            {% if name %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Registration authority" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ name }} (<code>{{ elm.value.reg_auth_id }}</code>)
                                    </dd>
                                </div>
                            {% else %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Registration authority ID" %}</dt>
                                    <dd class="govuk-summary-list__value"><code>{{ elm.value.reg_auth_id }}</code></dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "End-entity type" %}</dt>
                            <dd class="govuk-summary-list__value">{{ elm.value.ee_type }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">End-entity serial</dt>
                            <dd class="govuk-summary-list__value"><code>{{ elm.value.ee_serial_hex }}</code></dd>
                        </div>
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "rmv-private-data" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{% trans "RMV Private Data" %}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% with org_name=elm.organization_name_opt %}
                            {% if org_name %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ org_name }} (<code>{{ elm.organization_id }}</code>)
                                    </dd>
                                </div>
                            {% else %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{% trans "Organisation ID" %}</dt>
                                    <dd class="govuk-summary-list__value">
                                        <code>{{ elm.organization_id }}</code>
                                    </dd>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Traffic company" %}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.traffic_company }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans "Other data" %}</dt>
                            <dd class="govuk-summary-list__value">
                                <code>{{ elm.other_data_hex }}</code>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "rmv-product-data" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">RMV Product Data</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Start tariff point</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.start_tariff_point }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">End tariff point</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.end_tariff_point }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Price</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.price_str }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Price level</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.price_level }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">VAT</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.vat_str }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">
                                {{ elm.name }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of birth</dt>
                            <dd class="govuk-summary-list__value">{{ elm.date_of_birth.as_date|date:"F d, Y" }}</dd>
                        </div>
                        {% if elm.gender %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Gender</dt>
                                <dd class="govuk-summary-list__value">{{ elm.gender.name }}</dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% elif elm.TYPE == "unknown" %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Unknown element <code>{{ elm.tag_hex }}</code></h2>
                </div>
                <div class="govuk-summary-card__content">
                    <p class="govuk-body">
                        <code style="line-break: anywhere">{{ elm.data_hex }}</code>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p class="govuk-body">N/A</p>
{% endif %}