{% load rsp %}
<h2 class="govuk-heading-m">Ticket Data</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Mandatory Manual Check</dt>
        <dd class="govuk-summary-list__value">
            {% if data.mandatory_manual_check %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Multiple Supplements Apply</dt>
        <dd class="govuk-summary-list__value">
            {% if data.multiple_supplements_apply %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">On paper</dt>
        <dd class="govuk-summary-list__value">
            {% if data.on_paper %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Static dynamic indicator</dt>
        <dd class="govuk-summary-list__value">
            <code>{{ data.static_dynamic_indicator }}</code>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Non Revenue Ticket</dt>
        <dd class="govuk-summary-list__value">
            {% if data.non_revenue %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">RSP Specification Version</dt>
        <dd class="govuk-summary-list__value">{{ data.version_name }}</dd>
    </div>
    {% if data.checksum %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Checksum</dt>
            <dd class="govuk-summary-list__value"><code>{{ data.checksum }}</code></dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Barcode Version</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.barcode_version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reference</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.ticket_reference }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Child ticket</dt>
        <dd class="govuk-summary-list__value">
            {% if data.child_ticket %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Standard class</dt>
        <dd class="govuk-summary-list__value">
            {% if data.standard_class %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Coupon type</dt>
        <dd class="govuk-summary-list__value">
            {{ data.coupon_type }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Lennon ticket type</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.lennon_ticket_type }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Origin</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.origin_nlc }}</code></dd>
                </div>
                {% with station=data.origin_nlc|rsp_station_nlc %}
                    {% if station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value rail-alphabet">{{ station.name }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">CRS Code</dt>
                            <dd class="govuk-summary-list__value"><code>{{ station.crs_code }}</code></dd>
                        </div>
                        {% if station.latitude and station.longitude %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">
                                        <code>{{ station.latitude }}, {{ station.longitude }}</code>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value rail-alphabet">{{ data.origin_nlc_name }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.destination_nlc }}</code></dd>
                </div>
                {% with station=data.destination_nlc|rsp_station_nlc %}
                    {% if station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value rail-alphabet">{{ station.name }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">CRS Code</dt>
                            <dd class="govuk-summary-list__value"><code>{{ station.crs_code }}</code></dd>
                        </div>
                        {% if station.latitude and station.longitude %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">
                                        <code>{{ station.latitude }}, {{ station.longitude }}</code>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value rail-alphabet">{{ data.destination_nlc_name }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Fare</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Code</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.fare_label }}</code></dd>
                </div>
                {% with ticket_type=data.fare_label|rsp_ticket_type %}
                    {% if ticket_type %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identifier</dt>
                            <dd class="govuk-summary-list__value"><code>{{ ticket_type.ticket_type_identifier }}</code>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.ticket_type_name }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Compulsory reservations</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.compulsory_reservations }}</dd>
                        </div>
                        {% if ticket_type.validity.day_outward or ticket_type.validity.time_outward %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Validity - outward</dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s">Date</h3>
                                    {{ ticket_type.validity.day_outward|safe }}
                                    <h3 class="govuk-heading-s">Time</h3>
                                    {{ ticket_type.validity.time_outward|safe }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if ticket_type.validity.day_return or ticket_type.validity.time_return %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Validity - return</dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s">Date</h3>
                                    {{ ticket_type.validity.day_return|safe }}
                                    <h3 class="govuk-heading-s">Time</h3>
                                    {{ ticket_type.validity.time_return|safe }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if ticket_type.break_of_journey.outward_note %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Break of journey - outward</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket_type.break_of_journey.outward_note|safe }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if ticket_type.break_of_journey.return_note %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Break of journey - return</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ ticket_type.break_of_journey.return_note|safe }}
                                </dd>
                            </div>
                        {% endif %}
                        {% if ticket_type.conditions %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Conditions</dt>
                                <dd class="govuk-summary-list__value">{{ ticket_type.conditions|safe }}</dd>
                            </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Changes to travel plans</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.changes_to_travel_plans|safe }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Refunds</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.refunds|safe }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    {% if data.discount_code %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Discount</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Code</dt>
                        <dd class="govuk-summary-list__value"><code>{{ data.discount_code }}</code></dd>
                    </div>
                    {% with discount=data.discount_code|rsp_discount %}
                        {% if discount %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Name</dt>
                                <dd class="govuk-summary-list__value">{{ discount.description }}</dd>
                            </div>
                        {% endif %}
                    {% endwith %}
                </dl>
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Route</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Code</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.route_code }}</code></dd>
                </div>
                {% with route=data.route_code|rsp_route %}
                    {% if route %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Description</dt>
                            <dd class="govuk-summary-list__value">{{ route.atb_desc|linebreaksbr }}</dd>
                        </div>
                        {% if route.all_included_crs %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel must be made via <em>all</em> of</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list--bullet">
                                        {% for crs in route.all_included_crs %}
                                            {% with station=crs|rsp_station_crs %}
                                                {% if station.latitude and station.longitude %}
                                                    <li>
                                                        <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">{{ station.name }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>{{ station.name }}</li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if route.any_included_crs %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel must be made via any of</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list--bullet">
                                        {% for crs in route.any_included_crs %}
                                            {% with station=crs|rsp_station_crs %}
                                                {% if station.latitude and station.longitude %}
                                                    <li>
                                                        <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">{{ station.name }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>{{ station.name }}</li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if route.excluded_crs %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel must <em>not</em> be made via</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list--bullet">
                                        {% for crs in route.excluded_crs %}
                                            {% with station=crs|rsp_station_crs %}
                                                {% if station.latitude and station.longitude %}
                                                    <li>
                                                        <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">{{ station.name }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>{{ station.name }}</li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if route.included_tocs %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel must include a service operated by</dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list--bullet">
                                        {% for toc in route.included_tocs %}
                                            {% with toc=toc|rsp_toc %}
                                                <li>{{ toc.name }}</li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                        {% if route.excluded_tocs %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Travel must <em>not</em> include a service operated
                                    by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list--bullet">
                                        {% for toc in route.excluded_tocs %}
                                            {% with toc=toc|rsp_toc %}
                                                <li>{{ toc.name }}</li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    {% if data.restriction_code %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Restriction code</dt>
            <dd class="govuk-summary-list__value"><code>{{ data.restriction_code }}</code></dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Departure time</dt>
        <dd class="govuk-summary-list__value">
            {{ data.start_date|date:"F d, Y H:i" }}
            ({{ data.depart_time }})
        </dd>
    </div>
    {% if data.limited_duration_code %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Limited duration</dt>
            <dd class="govuk-summary-list__value">
                {{ data.limited_duration_value }}
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Via London</dt>
        <dd class="govuk-summary-list__value">
            {% if data.via_london %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    {% if data.osi_nlc %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">OSI</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.osi_nlc }}</code></dd>
                </div>
                {% with station=data.osi_nlc|rsp_station_nlc %}
                    {% if station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ station.name }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">CRS Code</dt>
                            <dd class="govuk-summary-list__value"><code>{{ station.crs_code }}</code></dd>
                        </div>
                        {% if station.latitude and station.longitude %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">
                                        <code>{{ station.latitude }}, {{ station.longitude }}</code>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ data.osi_nlc_name }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Bidirectional</dt>
        <dd class="govuk-summary-list__value">
            {% if data.bidirectional %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    {% if data.parent_ticket_reference %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Parent ticket reference</dt>
            <dd class="govuk-summary-list__value">{{ data.parent_ticket_reference }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Carnet count</dt>
        <dd class="govuk-summary-list__value">
            {{ data.carnet_count }}
        </dd>
    </div>
    {% if data.reservations %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reservations</dt>
            <dd class="govuk-summary-list__value">
                {% for reservation in data.reservations %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Reservation #{{ forloop.counter }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Service</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.service_id }}</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Coach</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.coach }}</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Seat</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.seat }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </dd>
        </div>
    {% endif %}
    {% if data.purchase_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Purchase data</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Purchased at</dt>
                        <dd class="govuk-summary-list__value">{{ data.purchase_data.purchase_date|date:"F d, Y H:i:s e" }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Price</dt>
                        <dd class="govuk-summary-list__value">{{ data.purchase_data.price_str }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Discounted</dt>
                        <dd class="govuk-summary-list__value">
                            {% if data.purchase_data.discounted %}
                                <strong class="govuk-tag govuk-tag--green">Yes</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--red">No</strong>
                            {% endif %}
                        </dd>
                    </div>
                    {% if data.purchase_data.restriction %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Restriction</dt>
                            <dd class="govuk-summary-list__value"><code>{{ data.purchase_data.restriction }}</code></dd>
                        </div>
                    {% endif %}
                    {% if data.purchase_data.purchase_reference %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Purchase reference</dt>
                            <dd class="govuk-summary-list__value"><code>{{ data.purchase_data.purchase_reference }}</code></dd>
                        </div>
                    {% endif %}
                    {% if data.purchase_data.days_of_validity %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Days of validity</dt>
                            <dd class="govuk-summary-list__value">{{ data.purchase_data.days_of_validity }}</dd>
                        </div>
                    {% endif %}
                    {% if data.purchase_data.additional_adults %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Additional adults</dt>
                            <dd class="govuk-summary-list__value">{{ data.purchase_data.additional_adults }}</dd>
                        </div>
                    {% endif %}
                    {% if data.purchase_data.additional_children %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Additional children</dt>
                            <dd class="govuk-summary-list__value">{{ data.purchase_data.additional_children }}</dd>
                        </div>
                    {% endif %}
                </dl>
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sale location</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.selling_nlc }}</code></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value rail-alphabet">{{ data.selling_nlc_name }}</dd>
                </div>
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sub UTN</dt>
        <dd class="govuk-summary-list__value">
            {% if data.sub_utn %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Print free use</dt>
        <dd class="govuk-summary-list__value">
            {% if data.print_free_use %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    {% if data.free_use %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Free use</dt>
            <dd class="govuk-summary-list__value">{{ data.free_use }}</dd>
        </div>
    {% endif %}
</dl>